body {
  margin: 0;
}
// .header {
//   width: 100%;
//   top: 0px;
//   left: 0px;
//   z-index: 1;
//   position: relative;}

.header-container {
  // display: flex;
  // min-width: 100%;
  background-color: #00000075;
  margin: auto;
  width: 1280px;
  height: 50px;
  justify-content: space-between;
  // align-items: center;
  align-items: end;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  align-items: center;
  display: block;
  margin: auto;
  box-shadow: 0px 5px 5px #00000075;
  @media screen and (max-width: 767px) {
    max-width: 320px;
    padding: 0 20px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 71px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1280px;
  }
}

.header-link {
  display: flex;
  align-items: center;
}

.header-img {
  height: 24px;
  color: white;
}
.header-link span {
  background-color: #ff004c;
  border-radius: 50%;
  margin-right: 10px;
  padding: 7px;
}

.header-text {
  color: $headerMainColor;
  // padding-bottom: 154px;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0 auto 0;
  display: inline-block;
  &:hover {
    color: $accentColor;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

@keyframes header-text {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.nav-container {
  // margin-top: 58px;
  display: flex;
  align-items: center;

  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 767px) {
    // width: 167px;
  }
}

.header-library {
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  // width: 69px;
  text-align: center;
  cursor: pointer;
  color: $headerMainColor;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  padding: 3px 0;
  white-space: nowrap;
  text-transform: uppercase;
  // margin-bottom: 158px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  &.current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 2px;
    height: 3px;
    background-color: $accentColor;
    transform: scaleX(1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-home {
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  font-size: 14px;

  text-align: center;
  cursor: pointer;
  color: $headerMainColor;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  padding: 3px 0;
  // margin-bottom: 158px;
  margin-right: 39px;
  text-transform: uppercase;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  &.current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 2px;
    height: 3px;
    background-color: $accentColor;
    transform: scaleX(1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.current:hover::after {
  transform: scaleX(0);
}

.header-home:hover,
.header-library:hover,
.header-home:focus,
.header-library:focus {
  color: $accentColor;
  outline: 0;
  outline-offset: 0;
}

.header-home:active {
  border: 0;
}

.header-form {
  position: relative;
  // display: flex;
  // height: 133px;
  // align-items: center;
  // justify-content: center;
  @media screen and (max-width: 767px) {
    // position: absolute;
  }
}

.logo-container {
  display: flex;
  width: 148px;
  height: 35px;
  // margin-top: 41px;
  align-items: center;
  flex-wrap: nowrap;
}

.BtnHeader {
  border-bottom: 3px solid #000;
  color: #000;
}

////////////////////////////////
.group {
  position: relative;
  // padding-top: 133px;
}

input {
  font-size: 14px;
  // padding: 10px;
  display: block;
  width: 336px;
  margin: 0 auto;
  outline: none;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: $headerMainColor;

  padding: 5px;
  border-radius: 0.25em;
  padding: 5px;
  @media screen and (max-width: 767px) {
    max-width: 280px;
  }
}
input:focus {
  outline: none;
}
input::placeholder {
  color: $headerMainColor;
  background: url(../img/search.png) no-repeat center right;
  // width: 20px;
  // height: 20px;
}

/* active state */
input:hover ~ label,
input:focus ~ label,
input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: $accentColor;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 336px;
  @media screen and (max-width: 767px) {
    max-width: 280px;
  }
}
.bar:before,
.bar:after {
  content: "";
  height: 1px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: $accentColor;
  transform: scaleX(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

input.icon {
  background: url(../img/search.png) no-repeat center left;
  padding-left: 30px;
}

// animation wrapper

.header-top-container {
  height: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.query-warning {
  color: #ff001b;
  margin: 0;
  margin-top: 2px;
  width: 100%;
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}
div.header-backdrop_path {
  background-color: #ffffff;
}
div.header-backdrop_path img {
  max-width: 1280px;
  margin: auto;
}
div.header-backdrop_path-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 1280px;
  height: 720px;
  margin-left: 25px;
  margin-top: 250px;

  position: absolute;

  z-index: 5;
}
div.header-backdrop_path_text {
  color: white;
  max-width: 440px;

  font-size: 40px;
  font-family: Roboto, Arial, sans-serif;
}
div.header-backdrop_path_text2 {
  font-size: 15px;
  max-width: 300px;

  color: white;
}
div.header-backdrop_path-flex span {
  color: white;
  background-color: orange;
  height: 25px;
  width: 50px;

  font-weight: 500;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin: 10px 0px 10px;
}

div.header-backdrop_path-flex a {
  color: white;
  background-color: #ff004c;
  height: 40px;
  width: 225px;

  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 10px 0px 10px;
}
div.header-backdrop_path-flex img {
  max-width: 30px;
  margin: 0;
  color: wheat;
  margin-right: 8px;
}
div.owl-container {
  width: 1280px;
  margin: auto;
}
